# Compiled Python files
*.pyc

# IntelliJ-specific files
.idea/
*.iml
*.iws

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Jupyter notebook kernel metadata
*.ipynb.meta

# Python virtual environment
venv/

*/lib/